<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.OrderDetailMapper">

	
	<select id="select" parametertype="Order" resultType="Order">
		SELECT * FROM order WHERE id=#{id} 
	</select>
	<select id="selectall" resultType="Order">
		SELECT * FROM order
	</select>
	<select id="insert">
		INSERT INTO order VALUES (#{orderdetail_code},#{item_no}
		,#{ship_no},#{count},#{request}) 	
	</select>
	<select id="update">
		
	</select>
	<select id="delete">
	
	</select>